streamlit
openai==0.28.1

langchain==0.2.16
langchain-core==0.2.43
langchain-community==0.2.16
langchain-text-splitters==0.2.4

chromadb==0.5.5
onnxruntime==1.24.4

sentence-transformers
pypdf
numpy==1.26.4
cryptography
protobuf==3.20.3
